

.video_presentation{
    padding: 4vw;
}
.video_presentation_elements{  
    display: flex;
}
.video_presentation video{
    width: 50vw;
    height: auto;
}
.video_presentation_elements p{
    margin-top: 4vh;
    padding: 4vw;
    max-width: 35vw;    
}